STRINGTABLE
{ 
 1000, "English"
 1001, "Load Picture"
 1002, "Apply && Save"
 1003, "Hide"
 1004, "Exit"
 1005, "Extra"
 1006, "Opacity"
 1007, "Use desktop wallpaper"
 1008, "Gaussian Blur"
 1009, "Select Pictures"
 1010, "Slideshow"
 1011, "Random"
 1012, "Interval"
 1013, "Run at startup"
 1014, "Start Screen Opacity"
 1015, "Tiles Opacity"
 1016, "Click here to show the Start Screen"
 1017, "I like it"
 1018, "If you like this tool, maybe you would want to show your support :)"
 1019, "Select the pictures for your slideshow"
 1020, "&Save"
 1021, "&Cancel"
 1022, "Language"
 1023, "Number of rows:"
 1024, "Apply"
 1025, "Default"
 1026, "For Windows 8/8.1 32bit/64bit.\n\nThis tool will help you to customize your Start Screen background picture.\n\n© Victor Alberto Gil Hancco Laquita a.k.a. vhanla\n http://codigobit.net\n\nWindows 8 ® is a registered trademark by Microsoft"
 2000, "Español"
 2001, "Carga imagen"
 2002, "Aplicar y guardar"
 2003, "Ocultar"
 2004, "Salir"
 2005, "Extra"
 2006, "Opacidad"
 2007, "Usar fondo de pantalla"
 2008, "Gaussian Blur"
 2009, "Elegir imágenes"
 2010, "Slideshow"
 2011, "Aleatorio"
 2012, "Intervalo"
 2013, "Iniciar con Windows"
 2014, "Opacidad de Start Screen"
 2015, "Opacidad de baldosas"
 2016, "Clic para ver el Start Screen"
 2017, "Me gusta"
 2018, "Si le gusta esta herramienta, quizás quiera apoyar su desarrollo :)"
 2019, "Elija las imágenes para el Slideshow"
 2020, "&Guardar"
 2021, "&Cancelar"
 2022, "Idioma"
 2023, "Número de filas:"
 2024, "Aplicar"
 2025, "Restaurar" 
 2026, "Para Windows 8/8.1 32bit/64bit.\n\nEsta herramienta le permitirá personalizar la imagen de fondo de la pantalla de inicio.\n\n© Victor Alberto Gil Hancco Laquita (vhanla)\n http://codigobit.net\n\nWindows 8 ® es una marca registrada de Microsoft"
 3000, "Português"
 3001, "Imagem de carga"
 3002, "Aplicar e Salvar"
 3003, "Ocultar"
 3004, "Sair"
 3005, "Extra"
 3006, "Opacidade"
 3007, "Use papel de fundo"
 3008, "Gaussian Blur"
 3009, "Escolha imagens"
 3010, "Slideshow"
 3011, "Acaso"
 3012, "Interval"
 3013, "Iniciar com o Windows"
 3014, "Opacidade de Start Screen"
 3015, "Opacidade de telhas"
 3016, "Clique aqui para exibir o Start Screen"
 3017, "Eu gosto"
 3018, "Se você gosta esta ferramenta, você pode querer apoiar o seu desenvolvimento :)"
 3019, "Escolha as imagens para o Slideshow"
 3020, "&Salvar"
 3021, "&Cancelar"
 3022, "Linguagem"
 3023, "Número de linhas:"
 3024, "Aplicar"
 3025, "Restaurar"
 3026, "para Windows 8/8.1 32bit/64bit.\n\nEsta ferramenta permite personalizar a imagem de fundo da Start Screen.\n\n© Victor Alberto Gil Hancco Laquita a.k.a. vhanla\n http://codigobit.net\n\nWindows 8 ® é uma marca comercial da Microsoft"
 4000, "Italiano"
 4001, "Scegli foto"
 4002, "Applicare e salvare"
 4003, "Nascondere"
 4004, "Salir"
 4005, "In pìu"
 4006, "Opacità"
 4007, "Utilizzare sfondo"
 4008, "Gaussian Blur"
 4009, "Scegli le immagini"
 4010, "Slideshow"
 4011, "Casuale"
 4012, "Intervallo"
 4013, "Iniziare con Windows"
 4014, "Start Screen opacità"
 4015, "Tiles opacità"
 4016, "Clicca per vedere il Start Screen"
 4017, "Mi piace"
 4018, "Se ti piace questo strumento, si consiglia di sostenere il loro sviluppo :)"
 4019, "Scegliere le immagini per le Slideshow"
 4020, "&Salve"
 4021, "&Annullare"
 4022, "Lingua"
 4023, "Numero di righe:"
 4024, "Applicare"
 4025, "Ripristinare" 
 4026, "per Windows 8/8.1 32/64.\n\nQuesto strumento vi permetterà di personalizzare l'immagine del Start Screen sfondo.\n\n© Victor Alberto Gil Hancco Laquita (vhanla)\nhttp://codigobit.net\n\nWindows 8 ® è un marchio registrato di Microsoft" 
 5000, "Français"
 5001, "Télécharger l'image"
 5002, "Appliquer et enregistrer"
 5003, "Cacher"
 5004, "Proche"
 5005, "Supplémentaire"
 5006, "Opacité"
 5007, "Utiliser fond"
 5008, "Gaussian Blur"
 5009, "Choisir des images"
 5010, "Slideshow"
 5011, "Aléatoire"
 5012, "Intervalle"
 5013, "Commencez par Windows"
 5014, "Start Screen opacité"
 5015, "Tiles opacité"
 5016, "Cliquez pour voir la Start Screen"
 5017, "J'aime"
 5018, "Si vous aimez cet outil, vous voudrez peut-être pour soutenir leur développement :)"
 5019, "Choisissez les images à la Slideshow"
 5020, "&Sauvegarder"
 5021, "&Résilier"
 5022, "Langue"
 5023, "Nombre de lignes:"
 5024, "Appliquer"
 5025, "Rétablir" 
 5026, "pour Windows 8/8.1 32bit/64bit.\n\nCet outil va vous permettre de personnaliser l'image de fond de la Start Screen.\n\n© Victor Alberto Gil Hancco Laquita (vhanla)\n http://codigobit.net\n\nWindows 8 ® est une marque déposée de Microsoft"
 6000, "Deutsch"
 6001, "Last bild"
 6002, "Speichern"
 6003, "Verbergen"
 6004, "Verlassen"
 6005, "Extra"
 6006, "Opazität"
 6007, "Desktop-Hintergrund"
 6008, "Gaußsche Unschärfe"
 6009, "wählen Sie Bilder"
 6010, "Diashow"
 6011, "Zufällig"
 6012, "Intervall"
 6013, "Beim Start"
 6014, "Start Screen deckkraft"
 6015, "Tiles deckkraft"
 6016, "Klicken Sie hier, um die Start Screen zeigen"
 6017, "Ich mag es"
 6018, "Wenn Sie dieses Werkzeug mögen, können Sie zu seiner Entwicklung zu unterstützen :)"
 6019, "Wählen Sie die Bilder für die Diashow"
 6020, "&Speichern"
 6021, "S&tornieren"
 6022, "Sprache"
 6023, "Anzahl der Reihen:"
 6024, "Anwenden"
 6025, "Default"
 6026, "Für Windows 8/8.1 32bit/64bit.\n\nDieses Tool hilft Ihnen, Ihre Start Screen Hintergrundbild anpassen.\n\n© Victor Alberto Gil Hancco Laquita a.k.a. vhanla\n http://codigobit.net\n\nWindows 8 ® ist ein eingetragenes Warenzeichen von Microsoft" 
}